html{
 height:100%;
 min-height:100%;
 }

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(images/image1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	
	/*background: no-repeat;*/

}


header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1%;
	background: #262626;
	width: 100%;
	box-sizing: border-box;
	font-size: 14pt;
}

.logo {
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 24pt;
	float: left;
	font-weight: bold;
}

nav {
	float: right;
	
}

ul{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li {
	list-style: none;
}
header nav ul li a {
	height:50px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	display: block;

}

header nav ul li a:hover {
	color: #fff;
	background: #2196f3;
}

header nav ul li a.active {
	color: #fff;
	background: #2196f3;
}

.menu-toggle {
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24pt;
	cursor:pointer;
	display: none;
}




nav ul li ul li{
	
	position: absolute;
	min-width: 100px;
	background-color: #333;
	display: none;
	transition: all 1s ease;
	}

nav ul li:hover ul li {
	display: block;
}

table {
	background-color: #2196f3;
	width:300px;
	height: 50px;
	margin-top:200px; 
	border-spacing: 0px 0px;
	border-collapse: collapse;
	color: white;
}

table tr th {
	border: 1px solid black;

}

#checkbox{
	display: inline-flex;
	align-items: center;

}

form {
	display: none;
	position: absolute;
	background: #333;
	width: 200px;
	color: white;
	padding: 20px;
	border-radius: 10px;
	max-height: 260px;
}

form.active1{
	display: block;
}
#form {
	display: flex;
	justify-content: center;
}

form button {
	margin-top: 15px;
	border-radius: 5px;
	width: 90px;
	height: 30px;
	cursor: pointer;
	color: #fff;
	background-color: #2196f3;
	border: none;
	font-weight: bold;

}

form button:hover {
	width: 95px;
	height: 32px;
	transition: 0.2s;
}

#form-head{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0;
	cursor: pointer;
}

#form-head:hover {
	color: #2196f3;
}

form h2{
	margin: 0px;
}

form input {
	border-radius: 5px;
	background-color: ;
	border:1px solid black;
	height: 20px;
}
table tr td {
	border: 1px solid black;
	text-align: center;

}

form.disactivation{
	display: none;
}

.disactivation{
	display: none;
}

.active2 {
	display: block;
}

@media (max-width: 991px){
	body {
	background-size:100%, 2000px;
	}
	

	.menu-toggle {
		display: block;
	}

	header nav {
		
		position: absolute;
		width: 150px;
		height: 100vh;
		background: #333;
		top: 100%;
		left: -100%;
		transition: 0.5s;
		max-height: 255px;

	}

	header nav.active
	{
		left: 0;
		
	}

	header nav ul {
		display: block;
	}

	header nav ul li a {
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
	
	#list{
		position: absolute;
		min-width: 100px;
		left:150px;
		top: -51px;
		background-color: #333;

	}

	#list:hover{
	background-color:#2196f3; 
}

form {
	left: 40%;
}

}

